<ul>
	<li style="text-align: justify"><strong>1.	Introduction</strong>
	<br></br>
	1.1	We are committed to safeguarding the privacy of our website visitors; in this policy we explain how we will treat your personal information.
	1.2	[We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website.] OR [By using our website and agreeing to this policy, you consent to our use of cookies in accordance with the terms of this policy.]</li><br></br>
	<li style="text-align: justify"><strong>2.	Credit</strong>
	<br></br>
	2.1	This document was created using a template from SEQ Legal (http://www.seqlegal.com).
	You must retain the above credit. Use of this document without the credit is an infringement of copyright. However, you can purchase from us an equivalent document that does not include the credit.</li><br></br>
	<li style="text-align: justify"><strong>3.	Collecting personal information</strong>
	<br></br>
	3.1	We may collect, store and use the following kinds of personal information: 
	(a)	[information about your computer and about your visits to and use of this website (including [your IP address, geographical location, browser type and version, operating system, referral source, length of visit, page views and website navigation paths])];
	(b)	[information that you provide to us when registering with our website (including [your email address])];
	(c)	[information that you provide when completing your profile on our website (including [your name, profile pictures, gender, date of birth, relationship status, interests and hobbies, educational details and employment details])];
	(d)	[information that you provide to us for the purpose of subscribing to our email notifications and/or newsletters (including [your name and email address])];
	(e)	[information that you provide to us when using the services on our website, or that is generated in the course of the use of those services (including [the timing, frequency and pattern of service use])];
	(f)	[information relating to any purchases you make of our [goods] OR [services] OR [goods and/or services] or any other transactions that you enter into through our website (including [your name, address, telephone number, email address and card details])];
	(g)	[information that you post to our website for publication on the internet (including [your user name, your profile pictures and the content of your posts])];
	(h)	[information contained in or relating to any communication that you send to us or send through our website (including [the communication content and metadata associated with the communication])]; and
	(i)	[any other personal information that you choose to send to us].
	[additional list items]
	3.2	Before you disclose to us the personal information of another person, you must obtain that person's consent to both the disclosure and the processing of that personal information in accordance with this policy.</li>
</ul>