<div class="container-fluid no-padding">
      <div class="row">
        <div class="col-md-12">
          <img src="ColdplayBannerExtension.png" alt="Band Members of Coldpaly" class="img-responsive">
       </div>
      </div>
    </div>
<div class="features-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center text-success">Available for Weddings and Parties</h2></div>
        <div class="row features">
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-music icon"></i>
                <h3 class="name"><a href="/templates/music">Music</a></h3>
                <p class="description">Take a look at our current album - <strong>Head Full of Dreams.</strong></p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-facetime-video icon"></i>
                <h3 class="name"><a href="/templates/video">Video</a></h3>
                <p class="description">Take a look at Coldplay Live at the Glastonbury Festival 2016.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-asterisk icon"></i>
                <h3 class="name"><a href="/templates/newrelease">Latest Release</a></h3>
                <p class="description">Check out the latest chart topper - <strong>Something Just Like This feat. The Chainsmokers.</strong></p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-book icon"></i>
                <h3 class="name"><a href="https://www.globalcitizen.org/en/festival/hamburg/">News</a></h3>
                <p class="description">We are excited to announce we'll be performing at the Global Citizens Festival at Hamburg in July 2017.  For more information check out <p><a href="https://www.globalcitizen.org/en/festival/hamburg/">Global Citizens Festival.</a></p></p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-plane icon"></i>
                <h3 class="name"><a href="/templates/chart">Charts</a></h3>
                <p class="description">Click here to take a look at the current offical charts to see all the chart climbers.</p>
            </div>
            <div class="col-md-4 col-sm-6 item"><i class="glyphicon glyphicon-phone icon"></i>
                <h3 class="name"><a href="/templates/form">Bookings</a></h3>
                <p class="description">For all enquires regarding bookings for parties and weddings you can contact us via email at <a href="mailto:bookings@coldplay.ie">Contact Us</a> or click on the bookings link to complete an online enquiry.</p>
            </div>
        </div> 
    </div>
</div>

